#!/bin/sh

set -euxo pipefail

# Enable autostart
vim-cmd hostsvc/autostartmanager/enable_autostart true

# Power off all running VMs
vm_ids=$(vim-cmd vmsvc/getallvms | sed '1d' | awk '{print $1}')
powered_on=
for vm in ${vm_ids}
do
    state=$(vim-cmd vmsvc/power.getstate $vm | sed '1d')
    if [[ "$state" == "Powered on" ]]
    then
        powered_on="$powered_on $vm"
        vim-cmd vmsvc/power.off $vm
    fi
done

# Move ESXi host to maintenance mode
esxcli system maintenanceMode set --enable true || true

# Install VIB
esxcli software vib install -d /vmfs/volumes/datastore1/{{ vib_filename }}

# Move ESXi host out of maintenance mode
esxcli system maintenanceMode set --enable false || true

# Power on all previously running VMs
for vm in ${powered_on}
do
    vim-cmd vmsvc/power.on $vm
done