#!/usr/bin/env python3

import esxi_hosts
import os
import sys


exit_status = 0
for esx in esxi_hosts.ips:
    ip = str(esx)
    print(f"ESXi host: {ip}")
    exit_status = os.system(f'''
        scp -i "$HOME/.ssh/esxi_key" "$HOME/bootstrap/{{ vib_filename }}" "root@{ip}:/vmfs/volumes/datastore1/{{ vib_filename }}" &&
        scp -i "$HOME/.ssh/esxi_key" "$HOME/bootstrap/install_vib_esxi.sh" "root@{ip}:/vmfs/volumes/datastore1/install_vib_esxi.sh" &&
        ssh -i "$HOME/.ssh/esxi_key" "root@{ip}" "sh -c /vmfs/volumes/datastore1/install_vib_esxi.sh" &&
        ssh -i "$HOME/.ssh/esxi_key" "root@{ip}" "reboot -d 60"
    ''') or exit_status

sys.exit(1 if exit_status else 0)
