import ipaddress
import sys
from pyVmomi import vim
from pyVim import connect
from vars import (
    private_subnets,
    public_subnets,
    public_cidrs,
    esx_passwords,
)


def main():

    subnets = private_subnets
    for i in range(len(public_cidrs)):
        public_subnets[i]["cidr"] = public_cidrs[i]
        subnets.append(public_subnets[i])
    esx = []
    for pw in esx_passwords:
        esx.append({"password": pw})

    for subnet in subnets:
        if subnet["vsphere_service_type"] == "management":
            for i in range(len(esx)):
                esx[i]["private_ip"] = list(ipaddress.ip_network(
                    subnet["cidr"]).hosts())[i + 3].compressed


def connect(esxi_ip, esxi_username, esxi_password):
    # Connect to vCenter
    si = None
    for i in range(1, 30):
        try:
            si = connect.SmartConnectNoSSL(
                host=esxi_ip, user=vcenter_username, pwd=sso_password, port=443
            )
            break
        except Exception:
            sleep(10)
    if si is None:
        print("Couldn't connect to vCenter!!!")
        sys.exit(1)


if __name__ == "__main__":
    main()
