auth_token = "{{ equinix_metal_api_key }}"

# use an existing Equinix Metal project
create_project = false

# used in name of a generated SSH key
project_name = "equinix-vmware-vsphere-7"

# existing project when create_project is false
project_id = "{{ equinix_metal_project_id }}"

# single-node deployment
metro = "da"
esxi_size = "g2.large.x86"
esxi_host_count = 1
esxi_hostname = "{{ equinix_metal_hostname_prefix }}-esxi-"
router_hostname = "{{ equinix_metal_hostname_prefix }}-vsphere-gateway"
vmware_os = "vmware_esxi_6_5"
update_esxi = true
esxi_update_filename = "ESXi-7.0U3d-19482537-standard"
vcenter_iso_name = "VMware-VCSA-all-7.0.3-19480866.iso"
vcva_deployment_option = "tiny"

# where to find VMware private artifacts
s3_url = "{{ s3_url }}"
s3_access_key = "{{ s3_access_key }}"
s3_secret_key = "{{ s3_secret_key }}"
object_store_bucket_name = "{{ s3_bucket }}"